<body class="murid">
# add commit 2
<h1>Murid Baru</h1>
<div class="container">
<%= form_for @murid do |f| %>
   <div class="form-group">
      <%= f.label "Nama Murid", class: 'control-label' %>
      <%= f.text_field :nama, class: "form-control", placeholder: "Nama Murid", required: true %>
   </div>
   <%# membuat radio button %>
   <div class="form-group">
      <%= f.label :jenis_kelamin, 'Jenis Kelamin', class: 'col-form-label' %><br>
	   <%= f.radio_button :jenis_kelamin, 1 %> <%= f.label "Laki-Laki", class: 'form-check' %>
      <%= f.radio_button :jenis_kelamin, 2 %> <%= f.label "Perempuan", class: 'form-check' %>
   </div>
   <div class="form-group">
      <%= f.label "Tempat Lahir", class: 'control-label' %>
      <%= f.text_field :tmp_lahir, class: "form-control", placeholder: "Tempat Lahir", required: true %>
   </div>
   <div class="form-group">
      <%= f.label "Tanggal Lahir", class: 'control-label' %>
      <%# untuk membatasi tanggal %>
      <%= f.date_field :tgl_lahir, min: Date.new(1994, 07, 01), max: Date.today, class: "form-control", required: true %>
   </div>
   <div class="form-group">
			<%= f.label "Jadwal", class: 'control-label' %>
			<%= f.select :jadwal, (["Senin & Kamis", "Senin & Selasa", "Selasa & Jumat", "Rabu & Sabtu"]), class: 'form-control', :required => true %>
	</div>
   <div class="form-group">
      <%= f.label "Alamat", class: 'control-label' %>
      <%= f.text_field :alamat, class: "form-control", placeholder: "Alamat", required: true %>
   </div>
   <div class="form-group">
      <%= f.label "Nomor Telpon", class: 'control-label' %>
      <%= f.number_field :no_tlp, class: "form-control", placeholder: "Nomor Telpon", required: true %>
   </div>
      <%= f.submit class: 'btn btn-primary', role: 'button' %>
   <% end %>
</div>
</body>
   
